<h2>Results</h2>

<%= for tweet <- @tweetsfound do %>
      By: <%= tweet.author %>
      TWEET
      <%= tweet.content %>
<% end %>

<%= link "Go back, my friend", to: tweet_path(@conn, :querytweetindex)%>