<h1>Tweets Page</h1>


<%= form_for @conn, tweet_path(@conn, :create), [as: :tweet], fn f -> %>
  
  <div class="form-group">
  	<%= label f, :content, class: "control-label" %>
      <%= text_input f, :content, class: "form-control" %>
      <%= error_tag f, :content %>
  </div>
  
  <div class="form-group">
    <%= submit "Send!", class: "btn btn-primary" %>
  </div>

<% end %>

<%= link "Back to Home", to: page_path(@conn, :home)%>